/*LOGO ON TOP*/
@font-face {
	font-family:"Bam";
	src: url('../css/BADABB__.TTF')
}

html, body{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
}

#titleBand {
	display:flex;
	justify-content: space-between;
	align-items:center;
	width:100%;
	position:fixed;
	height:50px;
	background: white;
	border-bottom-width:3px;
	border-style:solid;
	border-color: black;
}

#logo{
	font-size:40px;
	font-family:"bam";
	margin-left:10%;
}

#submitOrders{
	font-family:"Bam";
	font-size:16px;
	height:20px;
	margin-right:5%;
}

#itemContainer{
	display:flex;
	width:100%;
	justify-content: center;
}

#itemList{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding-top:80px;
	width:90%;
	max-width:800px;
}

.addCartButton {
	font-family:"bam";
	width:50px;
	margin-left:25px;
}

.notifier {
	font-family:"bam";
	padding:5px;
	color:red;
	background-color:yellow;
	border-style:solid;
	border-width:2px;
	border-color:red;
	border-radius:15px;
	font-size:16px;
	margin-left:15px;
}


.productBox{
	display: flex;
	width:100%;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:30px;
	align-items:center;
	border-style:solid;
	border-width:2px;
	border-color: black;
	border-radius: 10px;
	width:700px;
}

.nameBox, .depBox{
	width:100px;
	margin-left:25px;
	text-align:center;
} 

.priceBox, .stockBox {
	width:75px;
	margin-left:25px;
	text-align:center;

}

.numberPick{
	width:75px;
	margin-left:25px;
}

.notifier{
	display:none;
}

.variant{
	color:yellow;
	background-color:red;
	border-color:yellow;
}

/*MODAL CONTENT*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top:10px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	overflow:scroll;
}
.show{
	display:block;
}

#modalContent {
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color: #fefefe;
	margin:auto;
	border-width:2px;
	border-style:solid;
	border-color: rgb(41, 53, 53);
	border-radius: 20px;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}